{% style %}


ul.footer-contact {
  --icon-space: 4rem;
  list-style: none;
  padding: 0;
}

ul.footer-contact li {
  margin-bottom: 1em;
  padding-left: var(--icon-space);
}

ul.footer-contact li:before {
  font-family: "maxxus-font";
  display: inline-block;
  margin-left: calc( var(--icon-space) * -1 );
  width: var(--icon-space);
  font-size: 1.5em;
  line-height: 1;
  vertical-align: middle;
  margin-right: -.2em;
}
ul.footer-contact li.locator:before{
  content: "\e920";
}
  ul.footer-contact li.phone:before{
   content: "\e90e";
}
    ul.footer-contact li.envelope:before{
   content: "\e921";
}
  
{% endstyle %}
{% if settings.footer_logo != blank %}
  {{
    settings.footer_logo
    | image_url: width: 1100
    | image_tag: loading: 'lazy', widths: '50, 100, 150, 200, 300, 400, 550, 800, 1100', width: settings.image_width
  }}
{% endif %}
<ul class="footer-contact">
  <li class="locator">
    {{ shop.address.address1 }}<br>
    {{ shop.address.zip }} {{ shop.address.city }}<br>
    {{ shop.address.country }}
  </li>
  <li class="phone">
    <a class="link link--text" href="tel:{{ shop.phone }}">{{ shop.phone }}</a>
  </li>
  <li class="envelope">
    <a class="link link--text" href="mailto:{{ shop.email }}">{{ shop.email }}</a>
  </li>
</ul>
