{% schema %}
{
  "name": "Featured Collections",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Featured collections"
    },
    {
      "type": "textarea",
      "id": "description",
      "label": "Description",
      "default": "Featured collections description"
    },
    {
      "type": "color",
      "id": "arrow_bg_color",
      "label": "Arrow background color",
      "default": "#e3fa0a"
    },
    {
      "type": "color",
      "id": "arrow_color",
      "label": "Arrow color",
      "default": "#000000"
    }
    
  ],
  "presets" : [{
    "name" : "Featured Collections"
  }],
   "blocks": [
  {
    "name": "Collection",
    "type": "featured_collection",
    "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Description"
        },
        {
          "type": "collection",
          "id": "collection",
          "label": "Select Collection"
        }
      ]
  }
]
}
{% endschema %}

{% style %}
  
:root {
  --arrow-bg-color: {{ section.settings.arrow_bg_color }};
    --arrow-color: {{ section.settings.arrow_color}};
}
{% endstyle %}

{% stylesheet %}
  .collections-grid
  {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 3rem;
    
  }
  .collections-grid > :nth-child(-n+2) {
        grid-column: span 3;
    }
  .collections-grid > :nth-child(n+3) {
        grid-column: span 2;

    }
  .collection_image_wrapper{
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  .collection_image_wrapper>img{
    display: block;
    width: 100%;
    height: auto;
 transition: transform 200ms ease-in-out;
  }
  .collection_item{ 
    text-decoration: none;
  }

  .collection_item:hover img {
    transform: scale(1.1);
  }

  .collection_arrow{
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--arrow-bg-color);
    color: var(--arrow-color);
  
  }
{% endstylesheet %}

<div class="page-width">
  <h2>{{ section.settings.title }}</h2>
  <p>{{ section.settings.description }}</p>
  <div class="collections-grid">
    {% for block in section.blocks %}
      {%- case block.type -%}
        {%- when 'featured_collection' -%}
          <a href="{{ block.settings.collection.url }}" class="collection_item">
            <div class="collection_image_wrapper">
              {{ block.settings.image | image_url: width: 500 | image_tag }}
              <div class="collection_arrow">
                <i class="maxxus-arrow-right"></i>
              </div>
            </div>
            <h4>{{ block.settings.title }}</h4>
            <small>{{ block.settings.description }}</small>
          </a>
      {%- endcase -%}
    {% endfor %}
  </div>
</div>
