
  
  
      <style>
        @font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=LDI1apSCOBt_aeQQ7ftydoa8XsLN&skey=39a3c14b43850abc&v=v11) format('woff');
}
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=LDIqapSCOBt_aeQQ7ftydoa05efelJoy&skey=7204b863223fc69a&v=v11) format('woff');
}
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=8vIf7wUr0m80wwYf0QCXZzYzUoTK8RZQvRd-D1NYbmyWQk8z_g&skey=3445dd5b86d56e57&v=v19) format('woff');
}
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/l/font?kit=8vIf7wUr0m80wwYf0QCXZzYzUoTK8RZQvRd-D1NYbouRQk8z_g&skey=3445dd5b86d56e57&v=v19) format('woff');
}
/* thai */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDI1apSCOBt_aeQQ7ftydoa8SsLLubg58xGL.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDI1apSCOBt_aeQQ7ftydoa8UcLLubg58xGL.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDI1apSCOBt_aeQQ7ftydoa8UMLLubg58xGL.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDI1apSCOBt_aeQQ7ftydoa8XsLLubg58w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* thai */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDIqapSCOBt_aeQQ7ftydoa05efegJo02SuCgcva.woff2) format('woff2');
  unicode-range: U+0E01-0E5B, U+200C-200D, U+25CC;
}
/* vietnamese */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDIqapSCOBt_aeQQ7ftydoa05efem5o02SuCgcva.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDIqapSCOBt_aeQQ7ftydoa05efempo02SuCgcva.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Bai Jamjuree';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/baijamjuree/v11/LDIqapSCOBt_aeQQ7ftydoa05efelJo02SuCgQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatdisplay/v19/8vIQ7wUr0m80wwYf0QCXZzYzUoTg8z6hR4jNCH5Z.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatdisplay/v19/8vIQ7wUr0m80wwYf0QCXZzYzUoTg_T6hR4jNCA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatdisplay/v19/8vIQ7wUr0m80wwYf0QCXZzYzUoTg8z6hR4jNCH5Z.woff2) format('woff2');
  unicode-range: U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Red Hat Display';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/redhatdisplay/v19/8vIQ7wUr0m80wwYf0QCXZzYzUoTg_T6hR4jNCA.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

      </style>
    
  <style>
    .gps-500323948433573094 .blur{--tw-blur: ;--tw-brightness: ;--tw-contrast: ;--tw-grayscale: ;--tw-hue-rotate: ;--tw-invert: ;--tw-saturate: ;--tw-sepia: ;--tw-drop-shadow: }.gps-500323948433573094 .btn-disabled{cursor:default}.gps-500323948433573094 .g-paragraph-1{font-family:var(--g-p1-ff);font-size:var(--g-p1-size);font-style:var(--g-p1-fs);font-weight:var(--g-p1-weight);letter-spacing:var(--g-p1-ls);line-height:var(--g-p1-lh)}.gps-500323948433573094 .pointer-events-none{pointer-events:none}.gps-500323948433573094 .pointer-events-auto{pointer-events:auto}.gps-500323948433573094 .invisible{visibility:hidden}.gps-500323948433573094 .static{position:static}.gps-500323948433573094 .absolute{position:absolute}.gps-500323948433573094 .relative{position:relative}.gps-500323948433573094 .inset-0{inset:0}.gps-500323948433573094 .z-1{z-index:1}.gps-500323948433573094 .mx-auto{margin-left:auto;margin-right:auto}.gps-500323948433573094 .mb-0{margin-bottom:0}.gps-500323948433573094 .block{display:block}.gps-500323948433573094 .inline-block{display:inline-block}.gps-500323948433573094 .\!inline{display:inline!important}.gps-500323948433573094 .flex{display:flex}.gps-500323948433573094 .inline-flex{display:inline-flex}.gps-500323948433573094 .grid{display:grid}.gps-500323948433573094 .contents{display:contents}.gps-500323948433573094 .\!hidden{display:none!important}.gps-500323948433573094 .hidden{display:none}.gps-500323948433573094 .h-5{height:20px}.gps-500323948433573094 .h-6{height:24px}.gps-500323948433573094 .h-full{height:100%}.gps-500323948433573094 .w-5{width:20px}.gps-500323948433573094 .w-6{width:24px}.gps-500323948433573094 .w-full{width:100%}.gps-500323948433573094 .w-max{width:-moz-max-content;width:max-content}.gps-500323948433573094 .min-w-max{min-width:-moz-max-content;min-width:max-content}.gps-500323948433573094 .\!max-w-max{max-width:-moz-max-content!important;max-width:max-content!important}.gps-500323948433573094 .max-w-full{max-width:100%}.gps-500323948433573094 .flex-1{flex:1 1 0%}.gps-500323948433573094 .flex-none{flex:none}@keyframes spin{to{transform:rotate(1turn)}}.gps-500323948433573094 .animate-spin{animation:spin 1s linear infinite}.gps-500323948433573094 .flex-col{flex-direction:column}.gps-500323948433573094 .flex-wrap{flex-wrap:wrap}.gps-500323948433573094 .items-end{align-items:flex-end}.gps-500323948433573094 .items-center{align-items:center}.gps-500323948433573094 .justify-start{justify-content:flex-start}.gps-500323948433573094 .justify-center{justify-content:center}.gps-500323948433573094 .gap-3{gap:12px}.gps-500323948433573094 .gap-y-0{row-gap:0}.gps-500323948433573094 .overflow-hidden{overflow:hidden}.gps-500323948433573094 .break-words{overflow-wrap:break-word}.gps-500323948433573094 .rounded{border-radius:4px}.gps-500323948433573094 .rounded-none{border-radius:0}.gps-500323948433573094 .border{border-width:1px}.gps-500323948433573094 .text-center{text-align:center}.gps-500323948433573094 .italic{font-style:italic}.gps-500323948433573094 .leading-\[0\]{line-height:0}.gps-500323948433573094 .text-g-text-3{color:var(--g-c-text-3)}.gps-500323948433573094 .line-through{text-decoration-line:line-through}.gps-500323948433573094 .no-underline{text-decoration-line:none}.gps-500323948433573094 .decoration-g-text-1{text-decoration-color:var(--g-c-text-1)}.gps-500323948433573094 .opacity-25{opacity:.25}.gps-500323948433573094 .opacity-30{opacity:.3}.gps-500323948433573094 .opacity-75{opacity:.75}.gps-500323948433573094 .blur{--tw-blur:blur(8px);filter:var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow)}.gps-500323948433573094 .transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-500323948433573094 .duration-200{transition-duration:.2s}.gps-500323948433573094 .duration-300{transition-duration:.3s}.gps-500323948433573094 .ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-500323948433573094 .disabled\:btn-disabled:disabled{cursor:default}.gps-500323948433573094 .disabled\:pointer-events-none:disabled{pointer-events:none}.gps-500323948433573094 .disabled\:opacity-30:disabled{opacity:.3}.gps-500323948433573094 .data-\[disabled\=true\]\:hidden[data-disabled=true],.gps-500323948433573094 .data-\[hidden\=true\]\:hidden[data-hidden=true]{display:none}.gps-500323948433573094 .group[data-state=loading] .group-data-\[state\=loading\]\:visible{visibility:visible}.gps-500323948433573094 .group[data-state=loading] .group-data-\[state\=loading\]\:invisible{visibility:hidden}@media (max-width:1023px){.gps-500323948433573094 .tablet\:block{display:block}.gps-500323948433573094 .tablet\:hidden{display:none}}@media (max-width:767px){.gps-500323948433573094 .mobile\:block{display:block}.gps-500323948433573094 .mobile\:hidden{display:none}}.gps-500323948433573094 .\[\&\>svg\]\:\!h-\[var\(--height-desktop\)\]>svg{height:var(--height-desktop)!important}.gps-500323948433573094 .\[\&\>svg\]\:\!w-auto>svg{width:auto!important}@media (max-width:1023px){.gps-500323948433573094 .tablet\:\[\&\>svg\]\:\!h-\[var\(--height-tablet\)\]>svg{height:var(--height-tablet)!important}}@media (max-width:767px){.gps-500323948433573094 .mobile\:\[\&\>svg\]\:\!h-\[var\(--height-mobile\)\]>svg{height:var(--height-mobile)!important}}.gps-500323948433573094 .\[\&_\*\]\:max-w-full *{max-width:100%}.gps-500323948433573094 .\[\&_p\]\:inline p{display:inline}.gps-500323948433573094 .\[\&_p\]\:whitespace-pre-line p{white-space:pre-line}.gps-500323948433573094 .\[\&_p\]\:after\:whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-500323948433573094 .\[\&_p\]\:after\:content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}
  </style>
  
      
      
            <section
              class="mx-auto max-w-full"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="g2FCZqgqDX"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--pt:72px;--pl:15px;--pb:72px;--pr:15px;--pt-mobile:62px;--pl-mobile:15px;--pb-mobile:62px;--pr-mobile:15px;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#FFFFFF;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g2FCZqgqDX mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gXZ-iDnxY4 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gQf6hPF4PZ"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:56px;--mb-mobile:var(--g-s-3xl);--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gQf6hPF4PZ mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gvOL_ularC relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="g-Pv8cFGk3 "
        style="--tt:uppercase;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:var(--g-s-s);--pl:var(--g-s-l);--pr:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:0;--c:#242424;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--tt:uppercase;word-break:break-word;overflow:hidden"
        >
        <p>LIMITED TIME DEAL</p>
        </div>
      </div>
    </div>
    <div
      parentTag="Col"
        class="gwNY6W8GJJ "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-small);--mb:56px;--pl:var(undefined);--pr:var(undefined);--pl-mobile:var(undefined);--pr-mobile:var(undefined)"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Bai-Jamjuree, 'Bai Jamjuree');--weight:700;--ls:normal;--lh:120%;--size:38px;--size-tablet:38px;--size-mobile:33px;word-break:break-word;overflow:hidden"
        >
        <p>PLAY WORRY-FREE&nbsp;<br>WITH OUR EXTENDED WARRANTY</p>
        </h2>
      </div>
    </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl)" class="g6nCqmm53p ">
      
    <gp-countdown-timer
     class="flex "
     gp-data='{"behaviour":"daily","dateStandard":1681972269427,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Seconds","timeZone":"UTC+7","timerDaily":{"format":"pm","hours":2,"mins":50},"timerEverygreen":{"days":8,"endTime":1683267061707,"hours":3,"mins":55,"startTime":1681367469427},"weekLabel":"Weeks","uid":"g6nCqmm53p","builderData":{"advanced":{"border":{"border":"solid","borderType":"none","color":"#121212","isCustom":true,"width":"0px","position":"all"},"boxShadow":{"angle":90,"blur":"4px","color":"rgba(18, 18, 18, 0.12)","distance":"2px","spread":"0px","type":"shadow-1"},"d":{"desktop":true,"mobile":true,"tablet":true},"hasBoxShadow":false,"op":{"desktop":"100%"},"rounded":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"},"spacing-setting":{"desktop":{"margin":{"bottom":"var(--g-s-2xl)"},"padding":""},"mobile":{"margin":"","padding":""},"tablet":{"margin":"","padding":""}}},"label":"CountDown Timer","settings":{"behaviour":"daily","dateStandard":1681972269427,"dayLabel":"Days","enableDay":true,"enableHour":true,"enableMinute":true,"enableSecond":true,"enableWeek":false,"hourLabel":"Hours","minuteLabel":"Minutes","redirectUrl":{"link":"#","target":"_self"},"secondLabel":"Seconds","timeZone":"UTC+7","timerDaily":{"format":"pm","hours":2,"mins":50},"timerEverygreen":{"days":8,"endTime":1683267061707,"hours":3,"mins":55,"startTime":1681367469427},"weekLabel":"Weeks"},"styles":{"backgroundItemColor":"transparent","borderState":{"normal":{"border":"none","borderLabel":"None","borderType":"none","color":"transparent","isCustom":false,"width":"0px 0px 0px 0px"}},"colorLabel":"#424242","colorNumber":"#242424","horizontalGap":"auto","itemPadding":{"custom":{"desktop":{"horizontal":"16px","vertical":"0px"}}},"labelTypo":{"attrs":{"color":"#424242"},"custom":{"fontFamily":"Red Hat Display","fontSize":{"desktop":"16px","mobile":"14px","tablet":"16px"},"fontStyle":"normal","fontVariants":["300","regular","500","600","700","800","900","300italic","italic","500italic","600italic","700italic","800italic","900italic"],"fontWeight":"400","letterSpacing":"normal","lineHeight":"150%"},"type":"paragraph-1"},"labelTypography":{"type":"paragraph-1"},"numTypo":{"attrs":{"color":"#242424"},"custom":{"fontFamily":"Bai Jamjuree","fontSize":{"desktop":"38px","mobile":"33px","tablet":"38px"},"fontStyle":"normal","fontVariants":["200","200italic","300","300italic","regular","italic","500","500italic","600","600italic","700","700italic"],"fontWeight":"700","letterSpacing":"normal","lineHeight":"130%"},"type":"heading-1"},"numTypography":{"custom":{"desktop":{"fontFamily":"heading","fontSize":"38px","fontStyle":"normal","fontWeight":"700","letterSpacing":"0px","lineHeight":"130%"},"mobile":{"fontSize":"33px"},"tablet":{"fontSize":"38px"}}},"roundedState":{"normal":{"bblr":"0px","bbrr":"0px","btlr":"0px","btrr":"0px","radiusType":"none"}},"textAlign":{"desktop":"center"},"verticalGap":"var(--g-s-s)"},"tag":"Countdown","uid":"g6nCqmm53p","childrens":[],"type":"component"}}'
     style="--jc:center"
     >
      <div id="section-countdown" class="flex flex-wrap w-max relative" style="gap:auto;--jc:center">
        <a
            href="#"
            target="_self"
            aria-label="Countdown link"
            class="absolute inset-0 z-1"
          > </a>
          
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="day"
        class=" "
        style="--mb:var(--g-s-s);--c:#242424"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Bai-Jamjuree, 'Bai Jamjuree');--weight:700;--ls:normal;--lh:130%;--size:38px;--size-tablet:38px;--size-mobile:33px;--c:#242424;word-break:break-word;overflow:hidden"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#424242"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#424242;word-break:break-word;overflow:hidden"
        >
        Days
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="hour"
        class=" "
        style="--mb:var(--g-s-s);--c:#242424"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Bai-Jamjuree, 'Bai Jamjuree');--weight:700;--ls:normal;--lh:130%;--size:38px;--size-tablet:38px;--size-mobile:33px;--c:#242424;word-break:break-word;overflow:hidden"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#424242"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#424242;word-break:break-word;overflow:hidden"
        >
        Hours
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="minute"
        class=" "
        style="--mb:var(--g-s-s);--c:#242424"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Bai-Jamjuree, 'Bai Jamjuree');--weight:700;--ls:normal;--lh:130%;--size:38px;--size-tablet:38px;--size-mobile:33px;--c:#242424;word-break:break-word;overflow:hidden"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#424242"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#424242;word-break:break-word;overflow:hidden"
        >
        Minutes
        </div>
      </div>
    </div>
    </div>
    
          
    <div
        style="--pl:16px;--pr:16px;--pt:0px;--pb:0px;--bs:none;--bw:0px 0px 0px 0px;--bc:transparent;--bg:transparent"
    class="flex-1 text-center min-w-max !max-w-max">
    
    <div
      id="second"
        class=" "
        style="--mb:var(--g-s-s);--c:#242424"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-countdown-number"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Bai-Jamjuree, 'Bai Jamjuree');--weight:700;--ls:normal;--lh:130%;--size:38px;--size-tablet:38px;--size-mobile:33px;--c:#242424;word-break:break-word;overflow:hidden"
        >
        00
        </div>
      </div>
    </div>
    
    <div
      
        class=" "
        style="--c:#424242"
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A']"
          style="--w:100%;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;--c:#424242;word-break:break-word;overflow:hidden"
        >
        Seconds
        </div>
      </div>
    </div>
    </div>
    
      </div>
     </gp-countdown-timer>
     <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-countdown.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
      </div>
    <div
      parentTag="Col"
        class="gat7VZPnW9 "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:var(--g-c-text-1, text-1);--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <p>2 extra years of software and hardware coverage - for the discounted price!</p>
        </div>
      </div>
    </div>
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product.v2.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
    {%- assign gpBkProduct = product -%}
    
        {%- liquid
          if request.page_type == 'product'
            if 'static' == 'static'
              if 'latest' == 'latest'
                paginate collections.all.products by 100000
                  assign product = collections.all.products | sort: 'created_at' | reverse | first
                endpaginate
              else
                assign product = all_products['']
                if product == empty or product == null
                  paginate collections.all.products by 100000
                    for item in collections.all.products 
                      if item.id == 'latest'
                        assign product = item
                      endif
                    endfor
                  endpaginate
                endif
              endif
            endif
          else
            if 'latest' == 'latest'
              paginate collections.all.products by 100000
                assign product = collections.all.products | sort: 'created_at'| reverse | first
              endpaginate
            else
              assign product = all_products['']
              if product == empty or product == null
                paginate collections.all.products by 100000
                  for item in collections.all.products 
                    if item.id == 'latest'
                      assign product = item
                    endif
                  endfor
                endpaginate
              endif
            endif
          endif
        -%}
      

    {%-if product != empty and product != null -%}
      {%- assign initVariantId =  -%}
      {%- assign product_form_id = 'product-form-' | append: "ggZLFDVc4j" -%}
      {%- assign variant = product.selected_or_first_available_variant -%}
      {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%-if productSelectedVariant == empty or productSelectedVariant == null -%}
        {%- assign productSelectedVariant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      {%-if variant == empty or variant == null -%}
        {%- assign variant = product.selected_or_first_available_variant -%}
      {%- endif -%}
      <gp-product class="" gp-context='{"productId": {{ product.id }}, "isSyncProduct": "", "variantSelected": {{ variant | json | escape }}, "quantity": 1, "formId": "{{ product_form_id }}" }'
        gp-data='{"variantSelected": {{ variant | json | escape }}, "quantity": 1}'>
        <product-form class="product-form">
          {%- form 'product', product, id: product_form_id, class: 'form contents', data-type: 'add-to-cart-form', autocomplete: 'off'  -%}
            <input type="hidden" name="id" value="{{ variant.id }}" />
            <input type="hidden" name="quantity" value="{{ quantity }}" />
            <button type="submit" onclick="return false;" style="display:none;"></button>
            
      
      
    <div
      id
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:30px;--pc:start;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--w-tablet:100%;--w-mobile:100%"
        class="mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gmsFepkVM6 relative flex flex-col"
    >
      
      
      
    <div
      parentTag="Col" id="gZtnCDaOd-"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-2xl);--cg:var(--g-s-s);--pc:center;--gtc:minmax(0, auto) minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gZtnCDaOd- mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="goOdmHp0fB relative flex flex-col"
    >
      <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gUge0b9e7f ">
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-tag.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  {% liquid 
    assign price = variant.price | times: 1.0
    assign salePrice = variant.compare_at_price | times: 1.0
    assign priceSave = salePrice | minus: price
    if salePrice == null or price == null
      assign pricePercentage = 'Save ' | money | append: ' '
    else 
        
              if priceSave > 0 
                assign priceSaveMoney = priceSave | money
                assign pricePercentage = 'Save ' | append: priceSaveMoney | append: ' '
              else 
                assign priceSaveMoney = 0 | money
                assign pricePercentage = 'Save ' | append: priceSaveMoney | append: ' '
              endif
            
    endif
  %}

   <gp-product-tag
    data-disabled="{%- if priceSave > 0 -%} false {%- else -%} true {%- endif -%}"
    gp-data='{"setting":{"customContent":{"prefix":"Save","suffix":"","unit":"price"}}, "id": "gUge0b9e7f", "locale": "{{shop.locale}}", "currency": "{{shop.currency}}", "moneyFormat": "{{ shop.money_format | replace: '"', '\"' | escape }}"}'
    class="block data-[disabled=true]:hidden "
    style="--ta:left"
  >
 
     <div class="inline-flex flex-wrap items-end gap-3">
       <div
         class="inline-block text-g-text-3"
         style="--bs:none;--bw:0px;--bc:transparent;--bg:#EA3335;--radius:var(--g-radius-none);--pl:4px;--pr:4px;--pt:8px;--pb:8px"
       >
         
    <div
      id="p-tag-gUge0b9e7f"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] text-g-text-3"
          style="--w:100%;--ta:left;--c:#FFFFFF;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:700;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        {{pricePercentage}}
        </div>
      </div>
    </div>
       </div>
     </div>

 </gp-product-tag>
   
      </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gUSOcF0sDi relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
      <gp-product-price
        gp-data='{"priceType":"regular","uid":"gYkz5Bma_c","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
        data-hidden="false"
      >
        
    <div
      id="p-price-gYkz5Bma_c"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-price gp-money decoration-g-text-1"
          style="--w:100%;--tdc:text-1;--tdt:1;--ta:left;--c:#242424;--fs:normal;--ff:var(--g-font-Bai-Jamjuree, 'Bai Jamjuree');--weight:700;--ls:normal;--lh:120%;--size:38px;--size-tablet:38px;--size-mobile:33px;word-break:break-word;overflow:hidden"
        >
        
                  {% if variant.price %} 
                    {{ variant.price | money}}
                  {% endif %}
                
        </div>
      </div>
    </div>
      </gp-product-price>
  
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="g0FwvxeXqj relative flex flex-col"
    >
      
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-price.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
      <gp-product-price
        gp-data='{"priceType":"compare","uid":"gAxZSLcG4T","locale":"{{shop.locale}}","currency":"{{shop.currency}}","moneyFormat":"{{ shop.money_format | replace: '"', '\\"' | escape }}"}'
        
        class=" data-[hidden=true]:hidden"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
        data-hidden="{% if variant.compare_at_price > variant.price and variant.compare_at_price >= 0 %}false{% else %}true{% endif %}"
      >
        
    <div
      id="p-price-gAxZSLcG4T"
        class=" "
        style=""
      >
      <div class="" style="">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-price gp-product-compare-price line-through"
          style="--w:100%;--tdc:#B4B4B4;--tdt:1;--ta:left;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-Bai-Jamjuree, 'Bai Jamjuree');--weight:400;--ls:normal;--lh:150%;--size:28px;--size-tablet:28px;--size-mobile:24px;word-break:break-word;overflow:hidden"
        >
        
                  {% if variant.compare_at_price  %} 
                    {{ variant.compare_at_price | money}}
                  {% endif %}
                
        </div>
      </div>
    </div>
      </gp-product-price>
  
    </div>
    </div>
  
    
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-product-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  
  
  
   {%- liquid
      assign inventory_quantity = variant.inventory_quantity | default: 0
    -%}
    <gp-product-button
      gp-data='{"setting":{"actionEffect":"open-cart-drawer","errorMessage":"Cannot add product to cart","successMessage":"Add product to cart successfully","label":"GET LIMITED DEAL","outOfStockLabel":"Out Of Stock","customURL":{"link":"/cart","target":"_self"}},"styles":{"errorTypo":{"type":"paragraph-2"},"successTypo":{"type":"paragraph-2"}},"disabled":"{{variant.available}}","variantID":"{{variant.id}}","totalVariant":"{{product.variants.size}}"}'
    >
        
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"label":"GET LIMITED DEAL","htmlType":"submit","iconAlign":"left","iconSvg":"<svg style=\"width: 100%; height: 100%\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M9.5625 19.6875C9.5625 19.8958 9.66667 20 9.875 20H25.3125V22.6875H9.3125C8.60417 22.6875 7.97917 22.4167 7.4375 21.875C6.9375 21.3333 6.6875 20.7083 6.6875 20C6.6875 19.5833 6.79167 19.1667 7 18.75L8.8125 15.4375L4 5.3125H1.3125V2.6875H5.6875C6.52083 4.4375 7.35417 6.20833 8.1875 8C8.39583 8.375 8.875 9.375 9.625 11C10.375 12.5833 10.9583 13.8125 11.375 14.6875H20.75C23.875 9.02083 25.5833 5.89583 25.875 5.3125L28.1875 6.625L23.0625 15.9375C22.5625 16.8542 21.7917 17.3125 20.75 17.3125H10.8125L9.625 19.5L9.5625 19.6875ZM20.8125 24.8125C21.3542 24.2708 21.9792 24 22.6875 24C23.3958 24 24 24.2708 24.5 24.8125C25.0417 25.3542 25.3125 25.9792 25.3125 26.6875C25.3125 27.3958 25.0417 28.0208 24.5 28.5625C24 29.0625 23.3958 29.3125 22.6875 29.3125C21.9792 29.3125 21.3542 29.0625 20.8125 28.5625C20.2708 28.0208 20 27.3958 20 26.6875C20 25.9792 20.2708 25.3542 20.8125 24.8125ZM7.4375 24.8125C7.97917 24.2708 8.60417 24 9.3125 24C10.0208 24 10.6458 24.2708 11.1875 24.8125C11.7292 25.3542 12 25.9792 12 26.6875C12 27.3958 11.7292 28.0208 11.1875 28.5625C10.6458 29.0625 10.0208 29.3125 9.3125 29.3125C8.60417 29.3125 7.97917 29.0625 7.4375 28.5625C6.9375 28.0208 6.6875 27.3958 6.6875 26.6875C6.6875 25.9792 6.9375 25.3542 7.4375 24.8125ZM14.6875 12V8H10.6875V5.3125H14.6875V1.3125H17.3125V5.3125H21.3125V8H17.3125V12H14.6875Z\" fill=\"#D6D6D6\"/></svg>","iconVisible":false,"btnLink":{}}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:48px;--ta:center"
    class="{% unless variant.available %} !hidden {% endunless %}"
  >
    <style>
    .gCa5xbL5yl.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gCa5xbL5yl:hover::before {
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }
  </style>
    <button
      type="submit" data-id="gCa5xbL5yl" aria-label="GET LIMITED DEAL"
      data-state="idle"
      class="gCa5xbL5yl gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3 gp-button-atc"
      style="--hvr-bg:#242424;--bg:#234BC8;--c:var(--g-c-text-3, text-3);--pl:32px;--pr:32px;--pt:16px;--pb:16px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:16px;--pb-mobile:16px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:uppercase;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:uppercase"
      >
        GET LIMITED DEAL
      </span>
    </button>
  </div>
  </gp-button>
  
        
  <script src="https://d2ls1pfffhvy22.cloudfront.net/assets-v2/gp-button.js?v={{ shop.metafields.GEMPAGES.ASSETS_VERSION }}" defer="defer"></script>
  <gp-button gp-data='{"setting":{"label":"Out Of Stock","htmlType":"button","iconAlign":"left","iconSvg":"<svg style=\"width: 100%; height: 100%\" viewBox=\"0 0 32 32\" fill=\"none\" xmlns=\"http://www.w3.org/2000/svg\"><path d=\"M9.5625 19.6875C9.5625 19.8958 9.66667 20 9.875 20H25.3125V22.6875H9.3125C8.60417 22.6875 7.97917 22.4167 7.4375 21.875C6.9375 21.3333 6.6875 20.7083 6.6875 20C6.6875 19.5833 6.79167 19.1667 7 18.75L8.8125 15.4375L4 5.3125H1.3125V2.6875H5.6875C6.52083 4.4375 7.35417 6.20833 8.1875 8C8.39583 8.375 8.875 9.375 9.625 11C10.375 12.5833 10.9583 13.8125 11.375 14.6875H20.75C23.875 9.02083 25.5833 5.89583 25.875 5.3125L28.1875 6.625L23.0625 15.9375C22.5625 16.8542 21.7917 17.3125 20.75 17.3125H10.8125L9.625 19.5L9.5625 19.6875ZM20.8125 24.8125C21.3542 24.2708 21.9792 24 22.6875 24C23.3958 24 24 24.2708 24.5 24.8125C25.0417 25.3542 25.3125 25.9792 25.3125 26.6875C25.3125 27.3958 25.0417 28.0208 24.5 28.5625C24 29.0625 23.3958 29.3125 22.6875 29.3125C21.9792 29.3125 21.3542 29.0625 20.8125 28.5625C20.2708 28.0208 20 27.3958 20 26.6875C20 25.9792 20.2708 25.3542 20.8125 24.8125ZM7.4375 24.8125C7.97917 24.2708 8.60417 24 9.3125 24C10.0208 24 10.6458 24.2708 11.1875 24.8125C11.7292 25.3542 12 25.9792 12 26.6875C12 27.3958 11.7292 28.0208 11.1875 28.5625C10.6458 29.0625 10.0208 29.3125 9.3125 29.3125C8.60417 29.3125 7.97917 29.0625 7.4375 28.5625C6.9375 28.0208 6.6875 27.3958 6.6875 26.6875C6.6875 25.9792 6.9375 25.3542 7.4375 24.8125ZM14.6875 12V8H10.6875V5.3125H14.6875V1.3125H17.3125V5.3125H21.3125V8H17.3125V12H14.6875Z\" fill=\"#D6D6D6\"/></svg>","iconVisible":false,"btnLink":{}}}' style="">
  <div
    
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-mobile:48px;--ta:center"
    class="{% if variant.available %} !hidden {% endif %}"
  >
    <style>
    .gCa5xbL5yl.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gCa5xbL5yl:hover::before {
      border-style: none;
  border-width: 0px 0px 0px 0px;
  border-color: transparent;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }
  </style>
    <button
      type="button" data-id="gCa5xbL5yl" aria-label="Out Of Stock"
      data-state="idle"
      class="gCa5xbL5yl gp-button-base rounded-none max-w-full relative group inline-flex items-center justify-center no-underline transition-colors duration-300 disabled:btn-disabled disabled:opacity-30 disabled:pointer-events-none text-g-text-3 gp-button-sold-out btn-disabled opacity-30 pointer-events-none"
      style="--hvr-bg:#242424;--bg:#234BC8;--c:var(--g-c-text-3, text-3);--pl:32px;--pr:32px;--pt:16px;--pb:16px;--pl-tablet:32px;--pr-tablet:32px;--pt-tablet:16px;--pb-tablet:16px;--pl-mobile:32px;--pr-mobile:32px;--pt-mobile:16px;--pb-mobile:16px;--w:Auto;--w-tablet:Auto;--w-mobile:Auto;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--tt:uppercase;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px"
    >
        <svg
          class="invisible absolute h-5 w-5 animate-spin group-data-[state=loading]:visible"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 24 24"
        >
          <circle
            class="opacity-25"
            cx="12"
            cy="12"
            r="10"
            stroke="currentColor"
            stroke-width="4"
          ></circle>
          <path
            class="opacity-75"
            fill="currentColor"
            d="M4 12a8 8 0 018-8V0C5.373 0 0 5.373 0 12h4zm2 5.291A7.962 7.962 0 014 12H0c0 3.042 1.135 5.824 3 7.938l3-2.647z"
          ></path>
        </svg>

    
      <span
        class="break-words group-data-[state=loading]:invisible [&_p]:whitespace-pre-line z-1 h-full flex items-center overflow-hidden "
        style="--tt:uppercase"
      >
        Out Of Stock
      </span>
    </button>
  </div>
  </gp-button>
  
    </gp-product-button>
  
    </div>
    </div>
  
    
          {%- endform -%}
        </product-form>
      </gp-product>
      {%- assign product = gpBkProduct -%}
    {% else %}
      <div class="text-center">Product not found</div>
    {%- endif -%}
  
    </div>
    </div>
  
    
      
      
    <div
      parentTag="Col" id="gybovgYfKH"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:relative;--radius:var(--g-radius-none);--z:2;--cg:auto;--pc:start;--gtc:minmax(0, 12fr);--w:770px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gybovgYfKH mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="giLHSeVF4l relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image gmIuOtWsSW"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb-tablet:40px;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/362d980c-8bf3-4185-b717-8cf4209fd99e/-/format/auto/" data-srcset="https://ucarecdn.com/362d980c-8bf3-4185-b717-8cf4209fd99e/-/format/auto/ 768w,https://ucarecdn.com/362d980c-8bf3-4185-b717-8cf4209fd99e/-/format/auto/ 1024w,https://ucarecdn.com/362d980c-8bf3-4185-b717-8cf4209fd99e/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="770" height="515" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:770/515;--aspect-tablet:770/515;--aspect-mobile:770/515;--objf:cover;--objf-tablet:cover;--objf-mobile:cover;--w:100%;--w-tablet:auto;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
      
      
    <div
      parentTag="Col" id="gCcFlpAOvP"
        style="--b:solid;--bc:#E0E0E0;--bw:1px 1px 1px 1px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pos:absolute;--pos-tablet:static;--right:-100px;--right-tablet:20px;--radius:var(--g-radius-none);--pt:50px;--pl:16px;--pb:32px;--pr:16px;--pt-mobile:51px;--pl-mobile:28px;--pb-mobile:28px;--pr-mobile:28px;--top:50px;--z:99;--cg:var(--g-s-2xl);--pc:start;--gtc:minmax(0, 12fr);--w:270px;--w-tablet:540px;--w-mobile:100%;--bgc:var(--g-c-bg-3);--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gCcFlpAOvP mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gHQ7kl2zAZ relative flex flex-col"
    >
      <div
    
    role="presentation"
    class="group/image goYiT0iNgI"
    style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--left:50%;--left-mobile:50%;--left-tablet:50%;--op:100%;--pos:absolute;--radius:var(--g-radius-none);--ml:-74px;--ml-mobile:-74px;--ml-tablet:-74px;--top:-61px;--top-mobile:-62px;--z:999;--ta:center"
    >
      <div
        class="pointer-events-auto h-full"
        
        class="h-full w-full"
        style="border-radius:inherit;--ta:center"
      >
        <img
    quality="70" title="Image Title"
    draggable="false"
    class="!inline h-full max-w-full flex gp_lazyload"
    data-src="https://ucarecdn.com/741bb249-bedc-4dbc-a63b-782595c87e71/-/format/auto/" data-srcset="https://ucarecdn.com/741bb249-bedc-4dbc-a63b-782595c87e71/-/format/auto/ 768w,https://ucarecdn.com/741bb249-bedc-4dbc-a63b-782595c87e71/-/format/auto/ 1024w,https://ucarecdn.com/741bb249-bedc-4dbc-a63b-782595c87e71/-/format/auto/ 1440w" src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAAAXNSR0IArs4c6QAAAA1JREFUGFdj+Pr1638ACaED3/nOThIAAAAASUVORK5CYII=" width="152" height="55" alt="Alt Image" priority base-src
    sizes="100vw"
    style="--aspect:152/55;--aspect-tablet:152/55;--aspect-mobile:152/55;--objf:cover;--objf-tablet:cover;--w:152px;--w-tablet:152px;--w-mobile:152px;--h:auto;--h-tablet:auto;--h-mobile:auto;--bs:none;--bw:0px;--bc:transparent;--radius:var(--g-radius-none);border-radius:inherit"
  />
      </div>
  </div>
    <div
      parentTag="Col"
        class="gAQ_q6fZXR "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-s)"
      >
      <div class="flex" style="--jc:center">
        <h2
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--c:#242424;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >
        <p>2-Year Care Pack</p>
        </h2>
      </div>
    </div>
    
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--mb:var(--g-s-l);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll">
        
    <div 
            class="flex flex-wrap"
            style="--cg:var(--g-s-xxs);--jc:center">
            <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gZy9ebUQ4O ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gcK14HFgZy"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gvEZTjgkrH ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gtuT0pkCSP"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="g4op7ctOOI ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gA3Wn5mKPf"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="ggnCfCxDfy ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gN4wlgB58x"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div><div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)" class="gWuoqgLP0r ">
      
    <div 
      
      class="flex w-full flex-col items-center"
    >
    <div
      
      style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--ta:left"
      class="leading-[0] gtPObarg8M"
    >
      <div class="inline-flex overflow-hidden"
      style="--pl:0px;--pr:0px;--pt:0px;--pb:0px;--bs:none;--bw:0px;--bc:transparent;--bg:transparent"
      >
      <div
      
    >
      <span
        style="--c:#FAAD14;--t:rotate(0deg);--w:16px;--h:16px;--minw:16px;--height-desktop:16px;--height-tablet:16px;--height-mobile:16px"
        class="inline-flex items-center justify-center overflow-hidden [&>svg]:!h-[var(--height-desktop)] [&>svg]:!w-auto tablet:[&>svg]:!h-[var(--height-tablet)] mobile:[&>svg]:!h-[var(--height-mobile)]"
      ><svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">
              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M115.584 494.176c-12.352 6.336 -26.368 -4.768 -23.872 -18.944l26.56 -151.36L5.536 216.48c-10.528 -10.048 -5.056 -28.416 9.056 -30.4l156.736 -22.272L241.216 25.344c6.304 -12.48 23.36 -12.48 29.664 0l69.888 138.464 156.736 22.272c14.112 1.984 19.584 20.352 9.024 30.4l-112.704 107.392 26.56 151.36c2.496 14.176 -11.52 25.28 -23.872 18.944L256 421.984l-140.448 72.192z" /></svg></span>
    </div>
      </div>
    </div>
    </div>
  
      </div>
         </div>
    </div>
  
      
      
    <div
      parentTag="Col" id="g3045U45I1"
        style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--radius:var(--g-radius-none);--cg:var(--g-s-s);--pc:center;--gtc:minmax(0, auto) minmax(0, auto);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="g3045U45I1 mx-auto mb-0 grid max-w-full gap-y-0 transition-colors duration-200 ease-in-out [&_*]:max-w-full"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gYHYiuFn08 relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="gthimPoezm "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#242424;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:700;--ls:normal;--lh:150%;--size:21px;--size-tablet:21px;--size-mobile:19px;word-break:break-word;overflow:hidden"
        >
        <p>$60.00</p>
        </div>
      </div>
    </div>
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center"
      class="gih3wXNDez relative flex flex-col"
    >
      
    <div
      parentTag="Col"
        class="geKxwOyhRu "
        style="--tt:default;--ta:center;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:center">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:center;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#B4B4B4;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <p>$72.00</p>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    <div style="--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none);--pt:16px;--pb:16px" class="g_sofchkjN ">
      
    <div
      class="flex justify-start"
    >
      <div
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--t:rotate(0deg);--bc:#E0E0E0"
        class="block tablet:block mobile:block"
      ></div>
      <div
        class="items-center hidden tablet:hidden mobile:hidden"
        style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--t:rotate(0deg)"
      >
        
    <div
      class="hidden"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
        
            <span
              class="inline-flex items-center justify-center flex-none"
              style="--mr:var(--g-s-xs);--w:20px;--h:20px;--t:rotate(0);--c:var(--g-c-text-1, text-1)"
            >
              <svg height="100%" width="100%" xmlns="http://www.w3.org/2000/svg" className="w-6 h-6"  viewBox="0 0 512 512" fill="currentColor">              <path fill="currentColor" strokeLinecap="round" strokeLinejoin="round" fill="currentColor" d="M428.8 137.6h-86.177a115.52 115.52 0 0 0 2.176-22.4c0-47.914-35.072-83.2-92-83.2-45.314 0-57.002 48.537-75.707 78.784-7.735 12.413-16.994 23.317-25.851 33.253l-.131.146-.129.148C135.662 161.807 127.764 168 120.8 168h-2.679c-5.747-4.952-13.536-8-22.12-8H32c-17.673 0-32 12.894-32 28.8v230.4C0 435.106 14.327 448 32 448h64c8.584 0 16.373-3.048 22.12-8h2.679c28.688 0 67.137 40 127.2 40h21.299c62.542 0 98.8-38.658 99.94-91.145 12.482-17.813 18.491-40.785 15.985-62.791A93.148 93.148 0 0 0 393.152 304H428.8c45.435 0 83.2-37.584 83.2-83.2 0-45.099-38.101-83.2-83.2-83.2zm0 118.4h-91.026c12.837 14.669 14.415 42.825-4.95 61.05 11.227 19.646 1.687 45.624-12.925 53.625 6.524 39.128-10.076 61.325-50.6 61.325H248c-45.491 0-77.21-35.913-120-39.676V215.571c25.239-2.964 42.966-21.222 59.075-39.596 11.275-12.65 21.725-25.3 30.799-39.875C232.355 112.712 244.006 80 252.8 80c23.375 0 44 8.8 44 35.2 0 35.2-26.4 53.075-26.4 70.4h158.4c18.425 0 35.2 16.5 35.2 35.2 0 18.975-16.225 35.2-35.2 35.2zM88 384c0 13.255-10.745 24-24 24s-24-10.745-24-24 10.745-24 24-24 24 10.745 24 24z" /></svg>
            </span>
          
        
            <span
              class="inline-flex items-center justify-center flex-none g-paragraph-1"
              style="--tt:horizontal;--c:var(--g-c-text-1, text-1);--mr:var(--g-s-s)"
            >
              Title
            </span>
          
        
    <div
      class="flex"
      style="--w:100%;--w-tablet:100%;--w-mobile:100%;--bc:#E0E0E0;--bs:solid;--bbw:1px;--bbw-tablet:1px;--bbw-mobile:1px;--minw:100px"
    ></div>
  
      </div>
    </div>
  
      </div>
    <div
      parentTag="Col"
        class="g0ODVp31Ne "
        style="--tt:default;--ta:left;--b:solid;--bc:#121212;--bw:0px;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--radius:var(--g-radius-none)"
      >
      <div class="flex" style="--jc:left">
        <div
          data-gp-text
          class="[&_p]:inline [&_p]:after:whitespace-pre-wrap [&_p]:after:content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ts:none;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--c:#424242;--fs:normal;--ff:var(--g-font-Red-Hat-Display, 'Red Hat Display');--weight:400;--ls:normal;--lh:150%;--size:16px;--size-tablet:16px;--size-mobile:14px;word-break:break-word;overflow:hidden"
        >
        <ul><li>Remote diagnostics and phone technical support.</li><li>Prepaid shipping label, materials, and instructions.</li><li>Convenient door-to-door service, protection against accidental damage.</li><li>Next Business Day Exchange.</li></ul>
        </div>
      </div>
    </div>
    </div>
    </div>
  
    
    </div>
    </div>
  
    
    </div>
    </div>
  
            </section>
          
    
{% schema %}
  {
    
    "name": "Section 6",
    "tag": "section",
    "class": "gps-500323948433573094 gps gpsi",
    "settings": [
      {
        "type": "paragraph",
        "content": "Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/maxxus-de-production/apps/bold/app/shopify/edit?pageType=GP_PRODUCT&editorId=500323945531049190&sectionId=500323948433573094)"
      }
    ],
    "blocks": [{"type": "@app"}]
  }
{% endschema %}
