{{ 'product-tabs.css' | asset_url | stylesheet_tag }}
<script src="{{ 'product-tabs.js' | asset_url }}" defer="defer"></script>

<div class="page-width">
    <div class="product-tabs">
        <ul class="product-tabs-items-list">
            <li class="product-tab-item">
                <a class="product-tab-link active" data-targetid="js__product-desc" href="#">
                    {{- 'product_tabs.descripiton' | t -}}
                </a>
            </li>
            <li class="product-tab-item js__product-specs-hidden">
                <a class="product-tab-link" data-targetid="js__product-spec" href="#">
                    {{- 'product_tabs.technical_specification' | t -}}
                </a>
            </li>
            <li class="product-tab-item">
                <a class="product-tab-link" data-targetid="js__product-revs" href="#">
                    {{- 'product_tabs.reviews_and_rating' | t -}}
                </a>
            </li>
            <li class="product-tab-item js__product-files-hidden">
                <a class="product-tab-link" data-targetid="js__product-files"
                   href="#">{{- 'product_tabs.downloads' | t -}}</a>
            </li>
        </ul>
        <div class="product-tab-contents">
            <a class="product-tab-link-m active-m" data-targetid="js__product-desc"
               href="#"><span>{{- 'product_tabs.descripiton' | t -}}</span> <i class="maxxus-arrow-down"></i></a>
            <div class="product-tab-content active active-m" id="js__product-desc">
                {{ product.description }}
            </div>
            <a class="product-tab-link-m js__product-specs-hidden" data-targetid="js__product-spec"
               href="#"><span>{{- 'product_tabs.technical_specification' | t -}}</span> <i
                        class="maxxus-arrow-down"></i></a>
            <div class="product-tab-content app__easy-specs-container js__product-specs-hidden"
                 id="js__product-spec"></div>
            <a class="product-tab-link-m" data-targetid="js__product-revs"
               href="#"><span>{{- 'product_tabs.reviews_and_rating' | t -}}</span> <i class="maxxus-arrow-down"></i></a>
            <div class="product-tab-content" id="js__product-revs">
                <!-- Start of Judge.me code -->
                <div style="clear:both"></div>
                <div id="judgeme_product_reviews" class="jdgm-widget jdgm-review-widget" data-id="{{ product.id }}">
                    {{ product.metafields.judgeme.widget }}
                </div>
                <!-- End of Judge.me code -->
            </div>
            <a class="product-tab-link-m js__product-files-hidden" data-targetid="js__product-files"
               href="#"><span>{{- 'product_tabs.downloads' | t -}}</span> <i class="maxxus-arrow-down"></i></a>
            <div class="product-tab-content js__product-files-hidden" id="js__product-files">
                <div class="tigren-product-attachments">
                    <div class="tigren-attachments"></div>
                </div>
            </div>
        </div>
    </div>
</div>


{% schema %}
{
  "name": "Product Tabs",
  "settings": [],
  "presets": [
    {
      "name": "Product Tabs"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
