<div class="page-width">
  <div class="product-tabs">
    <ul class="product-tabs-items-list">
      <li class="product-tab-item">
        <a class="product-tab-link active" data-targetid="js__product-desc" href="#">
          {{- 'product_tabs.descripiton' | t -}}
        </a>
      </li>
      <li class="product-tab-item">
        <a class="product-tab-link" data-targetid="js__product-spec" href="#">
          {{- 'product_tabs.technical_specification' | t -}}
        </a>
      </li>
      <li class="product-tab-item">
        <a class="product-tab-link" data-targetid="js__product-revs" href="#">
          {{- 'product_tabs.reviews_and_rating' | t -}}
        </a>
      </li>
      <li class="product-tab-item js__product-files-hidden">
        <a class="product-tab-link" data-targetid="js__product-files" href="#">{{- 'product_tabs.downloads' | t -}}</a>
      </li>
    </ul>
    <div class="product-tab-contents">
      <div class="product-tab-content active" id="js__product-desc">
        {{ product.description }}
      </div>
      <div class="product-tab-content app__easy-specs-container" id="js__product-spec"></div>
      <div class="product-tab-content" id="js__product-revs">
        <!-- Start of Judge.me code -->
        <div style="clear:both"></div>
        <div id="judgeme_product_reviews" class="jdgm-widget jdgm-review-widget" data-id="{{ product.id }}">
          {{ product.metafields.judgeme.widget }}
        </div>
        <!-- End of Judge.me code -->
      </div>
      <div class="product-tab-content js__product-files-hidden" id="js__product-files">
        <div class="tigren-product-attachments">
          <div class="tigren-attachments"></div>
        </div>
      </div>
    </div>
  </div>
</div>

{% stylesheet %}
    .product-tabs{
      padding-top: 10rem;
    
      padding-bottom: 3rem;

    }
    .product-tabs-items-list{
      position: relative;
      display: flex;
      z-index: 2;
      padding: 0;
      margin: 0 0 -1px 0;
    }
    .product-tab-item{
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    .product-tab-item{
      margin-right: .5em;
    }
    .product-tab-link{
      display: block;
      min-height: 47px;
      display: flex;
      align-items: center;
      padding: .5em 2em;
      background-color: #f6f6f6;

      color: black;
      text-decoration: none;
      border-top: 1px solid #f6f6f6;
      border-left: 1px solid #f6f6f6;
      border-right: 1px solid #f6f6f6;
    }
    .product-tab-link.active{
      color: #0073fe;

      box-shadow: inset 0px 5px 0px 0px #0073fe;
      background-color: white;
    }
    .product-tab-content{
      display: none;
    }
    .product-tab-content.active{
      display: block;
    }
    .product-tab-contents{
      border: 1px solid #f6f6f6;
      padding: 1em;
    }

 .product-tabs .tigren-infor_wrap{
    text-align: left;
  }

  .product-tabs .tigren-productAttachment{
    box-shadow: none;
    border-bottom: 1px solid #f6f6f6;
    gap: 2rem;
    margin-bottom: 0;
  }
  .product-tabs .tigren-productAttachment:last-of-type{
    border-bottom:none;
  }
  .product-tabs .tigren-linkAttachment 
  {
    font-weight: bold;
    color: var(--maxxus-blue);
    line-height: 1;
    margin-bottom: .3rem;
  }
  .product-tabs .tigren-linkAttachment:hover
  {
    text-decoration: underline;    
  }
.js__product-files-hidden{
  display: none;
}
  
  
{% endstylesheet %}

{% javascript %}


  function showDownloads(){
    const container = document.querySelector('.tigren-attachments');

    const hiddenElems = document.querySelectorAll('.js__product-files-hidden');

    
    if (container.childNodes.length > 0){
      console.log('downloads files');
      hiddenElems.classList.remove('js__product-files-hidden'');
    }
    
  }

  
  function deselectOther(links, contents){
    links.forEach(function(link){
      link.classList.remove("active");
    });
    contents.forEach(function(link){
      link.classList.remove("active");
    });
  }

  document.addEventListener("DOMContentLoaded", (e)=>{
     var links = document.querySelectorAll(".product-tab-link");
  var contents = document.querySelectorAll(".product-tab-content");

  links.forEach(function(link){
    link.addEventListener("click", function(e){
      e.preventDefault();
      deselectOther(links, contents);

      e.target.classList.add("active");


      var target = document.getElementById(e.target.dataset.targetid);

      target.classList.add("active");

      document.dispatchEvent(new CustomEvent('scroll'))

    });


    showDownloads();
  });





  });
{% endjavascript %}

{% schema %}
{
  "name": "Product Tabs",
  "settings": [],
  "presets" : [{
    "name" : "Product Tabs"
  }],
  "blocks": [
  {
    "type": "@app"
  }
]
}
{% endschema %}
